In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame([[9,4,8,9],
                  [8,10,7,6],
                  [7,6,8,5]],
                 columns = ['Maths','English','Science','History'])
print(df)
df.agg(['sum','min','max','mean','median','std','count','size'])

   Maths  English  Science  History
0      9        4        8        9
1      8       10        7        6
2      7        6        8        5

        Maths    English    Science    History
sum      24.0  20.000000  23.000000  20.000000
min       7.0   4.000000   7.000000   5.000000
max       9.0  10.000000   8.000000   9.000000
mean      8.0   6.666667   7.666667   6.666667
median    8.0   6.000000   8.000000   6.000000
std       1.0   3.055050   0.577350   2.081666
count     3.0   3.000000   3.000000   3.000000
size      3.0   3.000000   3.000000   3.000000