In [1]:
import pandas as pd
data={
    'Empno':[101,102,103,104,105],
    'Ename':['Pawan','Nithesh','Ronith','Swasthik','preetham'],
    'Qualification':['Cs','Diplom','Engineering','IAS','Bcom'],
    'Subject':['Cs','Mech','Ce','Ec','Am']
}
df=pd.DataFrame(data)
print(df)

   Empno     Ename Qualification Subject
0    101     Pawan            Cs      Cs
1    102   Nithesh        Diplom    Mech
2    103    Ronith   Engineering      Ce
3    104  Swasthik           IAS      Ec
4    105  preetham          Bcom      Am