In [1]:
import pandas as pd
data={
'Name':['Alice','Bob','Charlie','David','Eve'],
'Age':[25,32,28,45,29],
'City':['Newyork','San francisco','Los angeles','Chicago','Miami']
}
df=pd.DataFrame(data)
print(df)

      Name  Age           City
0    Alice   25        Newyork
1      Bob   32  San francisco
2  Charlie   28    Los angeles
3    David   45        Chicago
4      Eve   29          Miami