In [2]:
import pandas as pd
data={
    'Firstname':['aryan','rohan','riya','yash','siddini'],
    'lastname':['singh','agrawal','shah','bhakra','krishna'],
    'Type':['full-time employee','intem','full-time employee','part-time employee','full-time employee'],
    'Department':['Administration','Technical','Administration','technical','management'],
    'Yoe':[2,3,5,7,6],
    'Salary':[2000,5000,100000,10000,20000]
    }
df=pd.DataFrame(data)
print(df)

  Firstname lastname                Type      Department  Yoe  Salary
0     aryan    singh  full-time employee  Administration    2    2000
1     rohan  agrawal               intem       Technical    3    5000
2      riya     shah  full-time employee  Administration    5  100000
3      yash   bhakra  part-time employee       technical    7   10000
4   siddini  krishna  full-time employee      management    6   20000

In [8]:
table=pd.pivot_table(df,index=['Type','Department'],values='Salary',aggfunc='mean')
table

                                   Salary
Type               Department
full-time employee Administration   51000
                   management       20000
intem              Technical         5000
part-time employee technical        10000

In [3]:
pivot=pd.pivot_table(
data=df,
index='Type',
values='Salary',
aggfunc=['mean','sum'])
print(pivot)

                            mean     sum
                          Salary  Salary
Type
full-time employee  40666.666667  122000
intem                5000.000000    5000
part-time employee  10000.000000   10000

In [9]:
df.pivot_table(index='Type',values='Salary',aggfunc=len)

                    Salary
Type
full-time employee       3
intem                    1
part-time employee       1