In [1]:
import pandas as pd
from operator import add
from functools import reduce

In [4]:
Coding = {'Subject':['Python','Java'],'Amount':[1000,2000]}
df=pd.DataFrame(Coding)
print(df)

  Subject  Amount
0  Python    1000
1    Java    2000

In [5]:
print("\n Map operation to multiply amount by 2 \n")
df['Amount'] = df['Amount'].map(lambda x:x*2)
print(df)
print("\n")

 Map operation to multiply amount by 2

  Subject  Amount
0  Python    2000
1    Java    4000

In [6]:
print("\n operation of filter to display only subject column \n")
df2 = df.filter(items = ['Subject'])
print(df2)

 operation of filter to display only subject column

  Subject
0  Python
1    Java

In [7]:
print("\n reduce operation to find total amount \n")

 reduce operation to find total amount

In [8]:
reduce(add,df.Amount)

6000