In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('weather.csv')
df

      city  temperatue  humidity
0  NewYork          70        68
1  Beijing          67        70
2   Mumbai          68        70